@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&display=swap');

html {
	 scroll-behavior: smooth;
}
body{
  height: 100%;
  margin: 0;
width: 100%;
overflow-x: hidden;

}
.nav-link.login {
	margin-right: 30px;
	margin-left: 30px;
}

.navbar-brand {
font-family: 'Grenze Gotisch', cursive;
color: #339966 !important;
font-weight: bold;
font-size: 40px;

}
.nav-link {
color: #339966 !important;
font-family: 'PT Serif', serif;
font-size: 20px;
margin-right: 10px;
}

main .back {
	 position: relative;
overflow-x: hidden;
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   background-image: linear-gradient(rgba(51, 51, 51,0.9) , rgba(191, 191, 191,0.3)) ,  url("back-main.jpg");
  min-height: 100vh;

}

main .learn {
	z-index: 2;
	font-weight: bold;
	color: white;
	font-size: 60px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow-x: hidden;
	padding-top: 150px;
	font-family: 'Grenze Gotisch', cursive;
}

main .learn-1 {
	z-index: 2;
	font-weight: bold;
	color: white;
	font-size: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 50px;
	
	font-family: 'Grenze Gotisch', cursive;
}

.caption {
  position: absolute;
  left: 0;
 margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #000;
  
}

.caption span.border {
  background-color: #339966 ;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  cursor: pointer;
  border-radius: 30px;
  
}

.caption span.border:hover {
	background-color: white;
	color: #339966;
}

section .dc {
  color: #339966;
  padding: 18px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  margin-left: auto;
	margin-right: auto;
	font-family: 'PT Serif', serif;
	padding-top: 50px;
	
}








@media screen and (min-width: 300px) {
main.learn {
	font-size: 200px;
	margin-top: 140px;
}
}

@media screen and (min-width: 500px) {
	main.learn {
	font-size: 200px;
	margin-top: 140px;
}
}
@media screen and (min-width: 600px) {
	main.learn {
	font-size: 300px;
	margin-top: 100px;
}
}

@media screen and (min-width: 300px) {
main .learn-1 {
	font-size: 25px;
	margin-top: 160px;
}
}

@media screen and (min-width: 500px) {
	main .learn-1 {
	font-size: 30px;
	margin-top: 80px;
}
}


.card-title {
	text-align: center;
}

.fade {
 opacity: 1;
}



footer a {
	color: white !important;
font-family: 'PT Serif', serif;
font-size: 20px;
margin-right: 10px;
}

.caption-1 {
  position: absolute;
  text-align: left;
 margin-top: 20px;
  width: 100%;
  
 
  
}

.caption-1 span.border-1 {
  background-color: white ;
  color:#339966 ;
  padding: 18px;
  font-size: 15px;
margin-left: auto;
margin-right: auto;
  cursor: pointer;
  border-radius: 20px;
  text-align: left;
  left: 0;
  
}

footer{
	width: 100%;
	overflow-x: hidden;
}

@media screen and (max-width: 300px){
	.caption-1{
		text-align: center;
	}
}

@media screen and (max-width: 600px){
	.caption-1{
		text-align: center;
	}
}


.navbar { 
  -webkit-transition:padding 0.2s ease;
  -moz-transition:padding 0.2s ease; 
  -o-transition:padding 0.2s ease;        
  transition:padding 0.2s ease;  
}

.affix {
  padding-top: 0.04em !important;
  padding-bottom: 0.04em !important;
  -webkit-transition:padding 0.2s linear;
  -moz-transition:padding 0.2s linear;  
  -o-transition:padding 0.2s linear;         
  transition:padding 0.2s linear;  
}


